/* Colores delsss tewm as vreersiwown 22s 2*/
.o_main_navbar {
    color: orange !important;
    border-bottom: 1px solid hsl(188, 54%, 39%);
    background-color: hsl(202, 36%, 31%);
}
.btn-fill-primary, .btn-primary {
    color: #FFFFFF;
    background-color: #626475;
    border-color: gray;
}
